header {
    padding: 5rem 0 3rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#222222, #111111);
}

.header-fondo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: .2;
}

.header-logo {
    position: relative;
    z-index: 1;
}